*{
    margin: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.image{
    width: 120px;
}

.main1{
    padding: 10px;
    padding-left: 50px;
    border-bottom: 1px rgb(98, 98, 98) solid;
    background-color:rgba(15, 34, 41, 0.852);
}

.loginmain{
    margin-left: 600px;
    margin-top: 60px;
}

.main2{
    padding: 60px;
    width: 400px;
    height: 550px;
    color: whitesmoke;
    background-color: rgb(16, 33, 42);
    border-radius: 30px;
}

.main2 h3{
    margin-bottom: 10px;
}

.main2 p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}

span{
    color: rgb(52, 52, 212);
}

.but{
    height: 50px;
    width: 400px;
    border-radius: 100px;
    text-align: left;
    margin-top: 20px;
}

.but:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

img{
    width: 20px;
}

.butt{
    height: 50px;
    width: 400px;
    border-radius: 100px;
    margin-top: 20px;
}

.butt:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition: 0.5s;
}

.text1{
    border: 2px rgb(14, 56, 68) solid;
    background-color: rgb(14, 56, 68);
    height: 50px;
    width: 400px;
    border-radius: 20px;
    margin-top: 50px;
}

.text1:hover{
    transition: 0.2s;
    background-color: rgb(24, 92, 111);
}

.text2{
    border: 2px rgb(14, 56, 68) solid;
    background-color: rgb(14, 56, 68);
    height: 50px;
    width: 400px;
    border-radius: 20px;
    margin-top: 20px;
}

.text2:hover{
    transition: 0.2s;
    background-color: rgb(24, 92, 111);
}

::placeholder{
    padding: 15px;
}

a:hover{
    color: rgb(112, 188, 247);
}

a{
    text-decoration: none;
}

.para{
    margin-top: 20px;
}

.butte{
    height: 50px;
    width: 400px;
    border-radius: 100px;
    margin-top: 80px;
    border: 2px rgb(14, 56, 68) solid;
    background-color: rgb(14, 56, 68);
    height: 50px;
    width: 400px;
}

.butte:hover{
    cursor: pointer;
    transition: 1s;
    color: whitesmoke;
    background-color: red;
}